* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.social {
   
    background-color:rgb(63, 62, 57);
    font-size: 24px;
    
}

.social a {
    position: relative;
    right: -70%;

}

.social i {
    letter-spacing: 20px;
}

.fa-instagram {
    color: rgb(187, 8, 68);
}

.fa-facebook-square {
    color: rgb(60, 60, 226);
}

.fa-pinterest-square {
    color: rgb(230, 33, 33);
}